
.container form{
	max-width: 600px;
	margin: auto;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
}
input[type=text]{
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 8px;
}
table{
width: auto;
margin: auto;
}
td {
  text-align: center;
}